<h1>All Users</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>otto</td>
            <td>@mdo</td>
            <td>
                <a class="btn btn-primary" href="#">View</a>
                <a class="btn btn-primary" href="#">view</a>
                <a class="btn btn-primary"></a> </td> <a href="">View</a>
        </tr>
    </tbody>
</table>